# Store in:
# sudo nano /etc/systemd/system/nc4_overlay.service
#
# Enable:
# sudo systemctl enable nc4_overlay.service
#
# Stop service:
# sudo systemctl stop nc4_overlay.service
#
# Disable:
# sudo systemctl disable nc4_overlay.service
#
# Check if enabled:
# sudo systemctl is-enabled nc4_overlay.service

# Create this file at /etc/systemd/system/nc4_overlay.service
[Unit]
# Description of the service
Description=Load nc4_ili9488 Overlay

# Ensure this service runs only after the system reaches the multi-user target (normal boot level without a graphical interface).
After=multi-user.target

[Service]
# This is a one-time task, so we use "oneshot"
Type=oneshot

# Command to load the overlay
ExecStart=/usr/bin/dtoverlay nc4_ili9488

# Ensures the service is considered active even after it has executed the command
RemainAfterExit=yes

[Install]
# Start this service when the system reaches the multi-user target
WantedBy=multi-user.target
