##########################################################C
# Systemd Service: nc4_drm_init_util.service
#
# This service initializes the nc4_ili9488 driver by executing
# the nc4_drm_init_util to set up the display pipeline.
#
# File Location:
# /etc/systemd/system/nc4_drm_init_util.service
#
# Command Instructions:
# To edit in VS Code:
#   sudo nano /etc/systemd/system/nc4_drm_init_util.service
#   sudo micro /etc/systemd/system/nc4_drm_init_util.service
#
# To reload systemd to apply changes::
#   sudo systemctl daemon-reload
#
# To enable on boot:
#   sudo systemctl enable nc4_drm_init_util.service
#
# To manually start the service:
#   sudo systemctl start nc4_drm_init_util.service
#
# To stop the service:
#   sudo systemctl stop nc4_drm_init_util.service
#
# To disable the service:
#   sudo systemctl disable nc4_drm_init_util.service
#
# To check if the service is enabled:
#   sudo systemctl is-enabled nc4_drm_init_util.service
################################################################################

[Unit]
# Description of the service
Description=Initialize DRM Services

# Ensure service runs after system reaches multi-user target (normal boot level, no graphic interface) and DRM devices are available.
After=multi-user.target dev-dri-card1.device

[Service]
# This is a one-time task, so we use "oneshot"
Type=oneshot

# Command to initialize displays
ExecStart=/home/nc4/TouchscreenApparatus/src/drivers/nc4_ili9488/utils/nc4_drm_init_util

# Ensures the service is considered active even after it has executed the commands
RemainAfterExit=yes

[Install]
# Start this service when the system reaches the multi-user target
WantedBy=multi-user.target